@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$text-font: "Montserrat", sans-serif;
$special-font: Caveat,cursive;

$darker: #212121;
$bg-color-primary: #181d24;
$bg-color-secondary: #978510;
$color-secondary: #978510;
$color-yellow: #ffc107;
$features-darker: #4e4a41f8;
$darker-transparent: #212121c5;
$black: #333333;
$black-light: #3c4146;
$white: #fff;
$white-transparent: #f9f9f9c2;
$color-scroll: #ffffff;
$c-white: #e8e8e8;


