@use "../_partials/variables" as v;

// button valora tu preioredad with responsive
.fix-btn-valora {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 99;
  font-size: 1rem;
  top: 50%;
  color: v.$white;
  background-color: v.$bg-color-secondary;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.14);
  padding: 0.4rem;
  right: 0;
  a:hover {
    color: v.$white;
    text-decoration: none;
  }
  @media screen and (max-width: 940px) {
    font-size: 0.8rem;
    padding: 0.3rem;
    right: 80%;
    top: 90%;
  }
  @media screen and (max-width: 768px) {
    font-size: 0.4rem;
  }
}

// Whatssap icon
.fix-wsp-icon {
  position: fixed;
  bottom: -64px;
  right: 20px;
  z-index: 999;
  transition: bottom 0.3s ease;
  img {
    width: 70px;
    height: 70px;
  }
}
.fix-wsp-icon.show {
  bottom: 20px;
}

// ------------------------------ Body ------------------------------
.custom {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100% !important;

  .img-slider {
    margin-top: 2.5rem;
    max-height: 77vh;
    width: 100%;
  }

  // Title Inmovally In the Header of the page with responsive "Inmo vally siempre en tu lado"
  .text {
    position: absolute;
    top: 5%;
    left: 15%;
    padding: 10px;
    color: v.$white;

    .left-animation {
      animation: leftAnimation 1s ease-out forwards;
      opacity: 0;
      transform: translateX(-100%);
      display: inline-block;

      .inmo,
      .v,
      .alley {
        display: inline-block;
        font-size: 8rem;
      }
    }

    .side-animation {
      color: v.$color-secondary;
      font-family: v.$special-font;
      animation: bottomAnimation 1s ease-out forwards;
      opacity: 0;
      transform: translateY(100%);
      display: inline-block;
      font-size: 5rem;
    }

    @media screen and (max-width: 1366px) {
      top: 4.7%;
      left: 15%;
      .left-animation {
        .inmo,
        .v,
        .alley {
          font-size: 6rem;
        }
      }

      .side-animation {
        font-size: 4rem;
      }
    }

    @media screen and (max-width: 940px) {
      top: 3%;
      left: 8%;
      .left-animation {
        .inmo,
        .v,
        .alley {
          font-size: 4rem;
        }
      }
      .side-animation {
        font-size: 3rem;
      }
    }
    @media screen and (max-width: 768px) {
      top: 2%;
      left: 5%;
      .left-animation {
        .inmo,
        .v,
        .alley {
          font-size: 2rem;
        }
      }
      .side-animation {
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 480px) {
      top: 1%;
      left: 2%;
      .left-animation {
        .inmo,
        .v,
        .alley {
          font-size: 2rem;
        }
        .side-animation {
          font-size: 1rem;
        }
      }
      @media screen and (max-width: 320px) {
        top: 1%;
        left: 2%;
        .left-animation {
          .inmo,
          .v,
          .alley {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  @keyframes leftAnimation {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes bottomAnimation {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // Button down with arrow in the header of the page
  .move-down {
    width: 5rem;
    position: absolute;
    top: 8.9%;
    left: 20%;
  }

  .move-down:hover {
    transform: translateY(10px);
  }
  @media screen and (max-width: 1366px) {
    .move-down {
      width: 4rem;
      top: 7.8%;
      left: 20%;
    }
    .move-down:hover {
      transform: translateY(9px);
    }
  }
  @media screen and (max-width: 940px) {
    .move-down {
      width: 3rem;
      top: 6%;
      left: 12%;
    }
    .move-down:hover {
      transform: translateY(8px);
    }
  }
  @media screen and (max-width: 768px) {
    container .move-down {
      width: 2rem;
      top: 4.5%;
      left: 8%;
    }
    .move-down:hover {
      transform: translateY(7px);
    }
  }
  @media screen and (max-width: 480px) {
    .move-down {
      width: 2rem;
      top: 3.5%;
      left: 5%;
    }
    .move-down:hover {
      transform: translateY(6px);
    }
  }
  @media screen and (max-width: 320px) {
    .move-down {
      width: 2rem;
      top: 3.5%;
      left: 5%;
    }
    .move-down:hover {
      transform: translateY(6px);
    }
  }

  // ---------------------------------------------------------

  .rectangle-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: v.$bg-color-primary;
    padding-top: 15rem;
    padding-bottom: 7rem;
    .property-title {
      margin-bottom: 8rem;
      h1 {
        letter-spacing: 4px;
        font-size: 55px;
        text-align: center;
        color: v.$white;
        font-weight: 300;
        span {
          font-family: v.$special-font;
          font-weight: 400;
          font-size: 40px;
          display: block;
          color: v.$color-secondary;
          margin-top: -1.5rem;
          margin-left: 1rem;
        }
      }
    }

    @media screen and (max-width: 940px) {
      padding-bottom: 13rem;
      .property-title {
        margin-bottom: 4rem;
        h1 {
          font-size: 35px;
          span {
            font-size: 25px;
            margin-top: -1rem;
          }
        }
      }
    }
    @media screen and (max-width: 480px) {
      padding-bottom: 13rem;
      .property-title {
        margin-bottom: 4rem;
        h1 {
          font-size: 25px;
          span {
            font-size: 15px;
            margin-top: -0.5rem;
          }
        }
      }
    }
  }

  // comtainer search with responsive
  .container {
    form {
      display: flex;
      flex-wrap: nowrap;
      gap: 0;
      .col-md-4 {
        border-radius: 0;
        border: 0;
        flex: 1;
        margin: 0;
      }

      .form-control,
      .form-select,
      .btn {
        padding: 1rem;
        border-radius: 0;
        border: 0;
        font-style: italic;
        &:focus {
          box-shadow: none;
          border: 1px solid v.$darker;
        }
      }
      .btn {
        font-style: normal;
        color: v.$white;
        font-weight: bold;
        background-color: v.$color-yellow;
        border-color: v.$color-yellow;
        width: 10rem;
        &:hover {
          border: 0;
        }
      }
      .small-image {
        width: 24px;
        float: left;
        margin-right: 5px;
      }
    }
    // Buttons down of de form
    .extra-btns {
      color: v.$white;
      font-weight: bold;
      gap: 0;
      .btn1 {
        width: 20rem;
        padding: 1rem;
        background-color: v.$features-darker;
      }
      .btn2 {
        width: 20rem;
        padding: 1rem;
        background-color: v.$bg-color-secondary;
        &:hover {
          background-color: #94862e;
        }
      }
      img {
        width: 25px;
        float: left;
        margin-right: 5px;
      }
    }
    // background-image
    .background-image {
      width: 10%;
    }

    @media screen and (max-width: 1200px) {
      form {
        .form-control,
        .form-select,
        .btn {
          font-size: 0.8rem;
        }
        .btn {
          padding: 0.81rem;
        }
        .small-image {
          width: 25px;
        }
      }
      .extra-btns {
        font-size: 0.8rem;
        .btn1 {
          width: 16rem;
          padding: 0.7rem;
        }
        .btn2 {
          width: 16rem;
          padding: 0.7rem;
        }
        img {
          width: 22px;
        }
      }
    }

    @media screen and (max-width: 940px) {
      form {
        float: left;
        width: 60%;
        display: block;
        .col-md-4 {
          width: 80%;
          border-radius: 0;
        }
        .btn {
          width: 100%;
        }
      }
      .extra-btns {
        float: right;
        display: block;
        width: 40%;
        font-size: 0.8rem;
        .col-md-8 {
          margin-top: 50%;
          display: block !important;
          .btn1 {
            margin-bottom: 3rem;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      form {
        width: 100%;
        float: none;
        text-align: center;
        .col-md-4 {
          width: 100%;
        }
        .form-control,
        .form-select,
        .btn {
          font-size: 0.6rem;
        }
        .btn {
          padding: 0.6rem;
        }
        .small-image {
          width: 15px;
        }
      }
      .extra-btns {
        display: none;
      }
    }
  }

  //Elige tu futuro
  .choose-future {
    position: relative;
    text-align: center;
    .img-choose-future {
      img {
        @media screen and (max-width: 940px) {
          // width: 200%;
          height: 120vh !important;
        }
        @media screen and (max-width: 480px) {
          // width: 400% !important;
        }
      }
    }

    img {
      max-width: 100%;
      display: block;
    }
    p {
      font-family: v.$special-font;
      @media screen and (max-width: 940px) {
        font-size: 48px !important;
        top: 6rem !important;
      }
      @media screen and (max-width: 768px) {
        font-size: 36px !important;
        top: 4rem !important;
      }
      @media screen and (max-width: 480px) {
        font-size: 24px !important;
        top: 2rem !important;
      }
      @media screen and (max-width: 320px) {
        font-size: 14px !important;
        top: 1rem !important;
      }
    }
    p,
    .icon-v,
    .cards {
      font-weight: 600;
      letter-spacing: 4px;
      font-size: 58px;
      color: v.$color-secondary;
      position: absolute;
      top: 6rem;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
    }

    .icon-v {
      top: 18rem;
      width: 5rem;
      @media screen and (max-width: 1500px) {
        top: 14rem;
      }

      @media screen and (max-width: 940px) {
        width: 4rem;
        top: 14rem;
      }
      @media screen and (max-width: 768px) {
        width: 3rem;
        top: 10rem;
      }
      @media screen and (max-width: 480px) {
        width: 2.5rem;
        top: 6rem;
      }
      @media screen and (max-width: 320px) {
        width: 2rem;
        top: 4rem;
      }
    }

    .cards {
      width: 65%;
      height: 50%;
      top: 29rem;
      z-index: 1;

      h5 {
        font-size: 20px;
      }

      span {
        font-size: 10px;
      }

      .card {
        height: 100%;
        color: v.$white;
        border: 0;
        border-radius: 0;
        background-color: v.$bg-color-primary;
        position: relative;
        transform: translateZ(0);

        h5 {
          color: v.$white;
        }

        .square {
          width: 3.5rem;
          height: 8rem;
          position: absolute;
          left: 0;

          &.top-left {
            transform: translateZ(0);

            background-color: v.$color-yellow;
            top: 0;
          }

          &.bottom-left {
            background-color: v.$black-light;
            bottom: 0;
          }
        }
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: v.$color-yellow;
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition-property: transform;
          transition-duration: 0.4s;
          transition-timing-function: ease-out;
        }

        &:hover {
          .square.top-left {
            transform: scaleY(1);
            background-color: v.$bg-color-primary;
            transition-duration: 0.3s;
          }

          &:before {
            transform: scaleY(1);
          }
        }
        .card-body {
          position: relative;
          overflow: hidden;

          h5 {
            color: v.$color-yellow;
            transform: scale(1);

            transition: transform 0.4s;
          }

          .card-text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            color: v.$white;
            margin: 4px;
            span {
              font-size: 1rem;
              font-weight: bold;
            }
          }

          // Agrega una imagen dentro del card-body
          img {
            width: 5px;
            position: absolute;
            top: 3rem;
            left: 5.5rem;
            width: 1.2rem;
            transform: scale(1);
            transition: transform 0.4s;
            object-fit: cover;
          }
        }

        // Aplica el efecto en hover
        &:hover {
          h5,
          img {
            transform: scale(1);
          }
          h5 {
            color: v.$white;
          }
        }
      }

      @media screen and (max-width: 1500px) {
        width: 80%;
        height: 55%;
        top: 22rem;
        h5 {
          margin-left: 2rem;
          font-size: 18px !important;
        }
        .card-text {
          left: 10% !important;
        }
        h6 {
          font-size: 24px !important;
        }
        span {
          font-size: 12px !important;
        }
        .square {
          width: 2.5rem !important;
          height: 5.5rem !important;
        }
      }
      @media screen and (max-width: 1366px) {
        top: 21rem;
      }
      @media screen and (max-width: 1275px) {
        top: 18rem;
      }
      @media screen and (max-width: 940px) {
        height: 40%;
        top: 25rem;
        h5 {
          font-size: 14px !important;
        }
        span {
          font-size: 8px !important;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 40%;
        top: 25rem;

        h5 {
          margin-left: 1.5rem;
          font-size: 16px !important;
        }
        .card-text {
          left: 10% !important;
        }
        h6 {
          font-size: 18px !important;
        }
        span {
          font-size: 8px !important;
        }
      }
      @media screen and (max-width: 480px) {
        width: 90%;
        height: 90%;
        top: 8rem;
        margin: auto;
        h5 {
          margin-left: 1.5rem;
          font-size: 12px !important;
        }
        .card-text {
          left: 4% !important;
        }
        h6 {
          font-size: 14px !important;
        }
        span {
          font-size: 7px !important;
        }
        .col-sm-4 {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .property-container {
    background-image: url("../../assets/image_background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    .property-info {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -9rem;
      padding: 20px;
      width: 60%;
      margin: auto;

      .property-image {
        // width: 150% !important;
        // height: 42vh !important;
        top: 2rem;
        height: auto;
        position: relative;
        overflow: hidden;

        img {
          transition: transform 0.9s ease;
        }
      }

      .property-details {
        height: 20rem;
        width: 28rem;
        color: v.$white;
        background-color: v.$black-light;
        // padding: 20px;
        position: relative;
        right: 3rem;
        top: 2rem;
        transition: transform 0.3s ease;
        .head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 2rem;

          .ref {
            font-weight: 500;
            text-align: center;
            width: 10rem;
            padding: 2rem;
            background-color: v.$color-secondary;
            padding: 0 !important;
            margin-right: 10px;
          }
          img {
            margin-right: 3rem;
            width: 2rem;
          }
        }
        .body {
          padding: 20px;
          padding-top: 0;
          h2 {
            font-weight: bold;
          }
          h3 {
            font-weight: bold;
          }
          p strong {
            font-weight: 700;
          }
          .price {
            font-size: 28px;
            color: v.$color-yellow;
          }
        }
        h2 {
          font-size: 24px;
          margin-top: 10px;
        }
        a {
          text-decoration: none;
          color: #007bff;
          display: block;
          margin-top: 20px;
        }
      }
      @media screen and (max-width: 940px) {
        display: block;

        .property-details {
          width: 100%;
          top: 0;
          right: 0;
          .head {
            .ref {
              font-size: 15px;
            }
          }
          .body {
            h2 {
              font-size: 22px;
            }
            h3 {
              font-size: 15px;
            }
            p strong {
              font-size: 12;
            }
            .price {
              font-size: 22px;
            }
          }
          h2 {
            font-size: 22px;
          }
        }
      }

      @media screen and (max-width: 768px) {
        width: 90%;
        .property-details {
          .head {
            .ref {
              font-size: 13px;
            }
          }
          .body {
            h2 {
              font-size: 19px;
            }
            h3 {
              font-size: 13px;
            }
            p strong {
              font-size: 10;
            }
            .price {
              font-size: 19px;
            }
          }
          h2 {
            font-size: 19px;
          }
        }
      }
    }

    // Agregamos el hover para ambos elementos
    .property-info {
      &:hover {
        .property-image img {
          transform: scale(1.1);
        }
        .property-details {
          background-color: v.$bg-color-primary;
          transform: translateX(2rem);
          @media screen and (max-width: 940px) {
            transform: translateX(0);
          }
        }
      }
    }

    // SELL PROP
    .sell-property {
      display: flex;
      justify-content: center;
      height: 100vh;
      // width: 80%;
      .sell-Left {
        img {
          width: 7rem;
          margin-bottom: 2rem;
        }
        h1 {
          letter-spacing: 4px;
          font-size: 55px;
          color: v.$white;
          font-weight: 300;
          margin-bottom: 4rem;

          span {
            font-family: v.$special-font;
            font-weight: 400;
            font-size: 40px;
            display: block;
            color: v.$color-secondary;
            margin-top: -1.5rem;
          }
        }
        button {
          color: v.$white;
          font-weight: bold;
          width: 15rem;
          padding: 0.75rem;
          background-color: v.$bg-color-secondary;
          &:hover {
            background-color: #94862e;
          }
        }
      }

      .sell-right {
        img {
          width: 20rem;
        }
      }

      @media screen and (max-width: 940px) {
        width: 80%;
        margin: 0 auto;
        .sell-Left {
          h1 {
            font-size: 35px;
          }
          button {
            width: 10rem;
            padding: 0.5rem;
            font-size: 14px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        width: 90%;
        margin: 0 auto;
        .sell-Left {
          h1 {
            font-size: 25px;
            span {
              margin-top: 0.1px;
              font-size: 25px;
            }
          }

          button {
            width: 10rem;
            font-size: 12px;
          }
        }
      }

      @media screen and (max-width: 480px) {
        width: 90%;
        margin: 0 auto;
        display: block;

        .sell-Left {
          margin: 0;
          text-align: center;
          .logo {
            margin: auto;
            width: 20%;
          }
          h1 {
            font-size: 20px;
            margin-bottom: 0.5rem;
            span {
              margin-top: 0.1px;
              font-size: 20px;
            }
          }

          button {
            margin: auto;
            width: 7rem;
            font-size: 12px;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  //Properties Featured
  .properties-featured {
    background-color: v.$bg-color-primary;
    color: v.$white;
    padding: 10rem;
    max-height: 175vh;
    .prop-featured-title {
      h1 {
        letter-spacing: 4px;
        font-size: 55px;
        text-align: center;
        color: v.$white;
        font-weight: 300;
        span {
          font-family: v.$special-font;
          font-weight: 400;
          font-size: 40px;
          display: block;
          color: v.$color-secondary;
          margin-top: -1.5rem;
          margin-left: 1rem;
        }
      }
    }

    .prop-featured-info {
      .container {
        .row {
          .column {
            .card {
              border-radius: 0;
              background-color: v.$bg-color-primary;
              color: v.$white;
              border: 0;
              transition: background-color 0.3s;
              overflow: hidden;
              img {
                border: 0;
                border-radius: 0;
                transition: transform 0.9s;
              }
              .card-body {
                transition: background-color 1.4s;
                z-index: 1;
              }
            }

            // i added the hover for both elements
            &:hover {
              .card img {
                transform: scale(1.1);
              }
              .card-body {
                color: v.$darker;
                background-color: v.$bg-color-secondary;
              }
            }
          }
        }
      }
      // Button all prop
      .btn-all-prop {
        padding: 5rem;
        margin: auto;
        width: 22rem;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;

          span {
            font-family: v.$special-font;
            color: v.$color-secondary;
            margin-right: 20px;
            transition: transform 0.3s ease;

            &:hover {
              transform: translateX(30px);
            }
          }

          img {
            width: 4rem;
            transition: transform 0.7s;
          }
          &:hover {
            img {
              transform: rotateY(180deg);
            }
            span {
              color: v.$white;
              transform: translateX(30px);
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0;
      margin-bottom: 40rem;
      margin-top: 16rem !important;
      .prop-featured-title {
        h1 {
          font-size: 35px;
          span {
            font-size: 25px;
            margin-top: -1rem;
          }
        }
      }
      .prop-featured-info {
        .btn-all-prop {
          padding: 0;
          width: 22rem;
          a {
            margin: 2rem;
            display: flex;
            align-items: start;
            justify-content: start;
            text-decoration: none;
          }
        }
      }
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 10rem;
      margin-top: 12rem !important;
      .prop-featured-title {
        h1 {
          font-size: 25px;
          span {
            font-size: 15px;
            margin-top: -0.5rem;
          }
        }
      }
      .prop-featured-info {
        .btn-all-prop {
          display: none;
        }
      }
    }
  }

  // Welcome & description
  .description-inmovalley {
    background-color: v.$bg-color-primary;
    padding-top: 7rem;
    margin-bottom: 1.5rem;
    .column {
      flex: 1;
      .img-icon {
        margin-left: 10rem;
        width: 8rem;
      }
      p {
        margin-left: 10rem;
        font-weight: 600;
        &.text1 {
          color: v.$color-secondary;
        }
        &.text2 {
          margin-top: 2rem;
          color: v.$white;
        }
      }
      .btn {
        margin-top: 1rem;
        margin-left: 10rem;
        color: v.$color-secondary;
        border-color: v.$bg-color-secondary;
        border-radius: 0;
        width: 15rem;
        font-size: 18px;
        &:hover {
          color: v.$white;
          background-color: v.$bg-color-secondary;
        }
      }
      .img-fluid {
        height: 90%;
        margin-left: auto;
        width: auto;
      }
    }
    @media screen and (max-width: 940px) {
      .text-left p,
      .text-left .img-icon,
      .text-left .btn {
        margin: 0;
        line-height: 2rem;
      }

      .img2 {
        display: none;
      }
      .img-fluid {
        width: 40%;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 0;
      .text-left p,
      .text-left .img-icon,
      .text-left .btn {
        margin: 0;
        line-height: 2rem;
        margin-left: 1rem;
        font-size: 15px;
      }
      .text-left .img-icon {
        margin: 1.5rem auto;

        width: 40% !important;
      }
      .img1 {
        display: none;
      }
      .img2 {
        display: block;
      }
    }
    @media screen and (max-width: 480px) {
      margin: 12px;
      .text-left p,
      .text-left .img-icon,
      .text-left .btn {
        line-height: 1rem;
        width: 90%;
        font-size: 10px;
      }
      .img1 {
        display: none;
      }
      .img2 {
        display: none;
      }
    }
    @media screen and (max-height: 600px) {
      margin-top: 300px;
    }
  }

  // Last News
  .last-news {
    background-color: v.$white;
    padding: 8rem;
    .container {
      .row {
        .col1 {
          // margin-left: 4rem;
          color: v.$darker;
          display: flex;
          align-items: center;
          position: relative;
          .rotate-text {
            font-weight: 300;
            letter-spacing: 10px;
            width: 50%;
            margin-left: 16rem;
            margin-top: 6rem;
            font-size: 75px;
            transform: rotate(-90deg);
            transform-origin: left bottom;
            display: inline-block;

            img {
              margin-top: 5rem;

              transition: transform 0.7s;
              &:hover {
                transform: rotateX(-180deg);
              }
            }
            span {
              font-family: v.$special-font;
              font-size: 3rem;
              color: v.$color-secondary;
              font-weight: 400;
              font-size: 40px;
              display: block;
              color: v.$color-secondary;
              margin-top: -2.6rem;
            }
          }
        }

        /*Style for the "New1" class */
        .new1 {
          position: absolute;
          top: 0;
          left: 0.75rem;
          color: v.$white;
          font-weight: bold;
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
          font-size: 12px;
          text-align: left;
          z-index: 1;
          &:hover {
            color: v.$white;
          }
          p {
            margin: 1rem;
          }
        }

        .col2 {
          margin-left: 8rem;
        }
        .col3 {
          margin-left: 1rem;
        }
        .col2,
        .col3 {
          padding: 0;
          position: relative;

          .img-container {
            position: relative;
            width: 100%;
            overflow: hidden;

            .img-fluid {
              width: 100%;
              transition: transform 0.3s;
            }
            //  Yellow Background
            .overlay2 {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: auto;
              width: auto;
              opacity: 0;
              transition: 0.5s ease;
              background-color: v.$color-secondary;
            }

            // DARK SQUARE
            .overlay1 {
              position: absolute;
              bottom: 0;
              left: 1rem;
              width: 12%;
              height: 0;
              background-color: v.$darker;
              transition: height 0.3s, opacity 0.3s;
              opacity: 0;
              color: #fff;
              padding: 10px;
              box-sizing: border-box;
              z-index: 1;
            }
            .arrow-right {
              opacity: 0;
              width: 1.2rem;
              position: absolute;
              top: 90%;
              left: 90%;
              transform: translate(-50%, -50%);
              font-size: 24px;
              color: #fff;
            }

            &:hover {
              .overlay1 {
                width: 12%;
                height: 25%;
                opacity: 1;
              }
              .overlay2 {
                opacity: 0.8;
              }
              .arrow-right {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 940px) {
      padding: 2rem;
      .container {
        .row {
          .col1 {
            .rotate-text {
              margin-left: 10rem;
              margin-top: 2rem;
              font-size: 35px;
              transform: rotate(-90deg);
              transform-origin: left bottom;
              display: inline-block;
              img {
                margin-top: 2rem;
                // width: 4rem;
              }
              span {
                font-size: 2rem;
                margin-top: -1.5rem;
              }
            }
          }
          .col2 {
            margin-left: 4rem;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      padding: 2rem;
      .container {
        .row {
          display: block;
          .col1 {
            margin: 0;
            .rotate-text {
              margin: auto;
              margin-top: 2rem;
              font-size: 35px;
              transform: rotate(360deg);
              transform-origin: top;
              display: inline-block;
              img {
                margin-bottom: 2rem;
                width: auto;
              }
              span {
                font-size: 2rem;
                margin-top: -1.5rem;
              }
            }
          }
          .col2 {
            margin: 0;
            width: 100%;
            margin-bottom: 1rem;
            // display: none;
          }
          .col3 {
            width: 100%;
            margin: 0;
            // display: none;
          }
        }
      }
    }
  }

  // Contact US
  .contact-container {
    height: 100vh;
    background-color: v.$bg-color-secondary;
    align-items: center;
    .contact-title {
      padding: 6rem;
      h1 {
        font-weight: bold;
        letter-spacing: 4px;
        font-size: 55px;
        text-align: center;
        font-weight: 300;
        color: v.$darker;
        margin: 0;
        display: flex;
        flex-direction: column;
        span {
          margin: -1.4rem;
          font-family: v.$special-font;
          font-weight: 400;
          color: v.$white;
          font-size: 40px;
          display: block;
        }
      }
    }
    .form-contact {
      width: 34%;
      // Apply the style to your input fields
      .form-control {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid v.$white;
        background-color: v.$bg-color-secondary;
        font-weight: 400;
        color: v.$white;
        background-color: transparent;
        &::placeholder {
          font-style: italic;
          color: v.$white;
        }
        &:focus {
          background-color: v.$color-secondary;
          box-shadow: none;
        }
      }
      .form-check-input {
        &[type="checkbox"] {
          border-color: 1px solid v.$darker;
          width: 5rem;
          height: 2.3rem;
          margin-right: 2rem;
          border-radius: 50%;
          background-color: v.$color-secondary;
          border: 2px solid v.$white;
          cursor: pointer;
          transition: background-color 0.3s;
          box-shadow: none;
          border: 1px solid v.$white;
        }
        &:checked {
          box-shadow: none;
          background-color: v.$darker;
          border-color: v.$darker;
        }
      }
      label {
        font-size: 11px;
        span {
          font-weight: bold;
        }
      }
      button {
        width: 50%;
        background-color: v.$bg-color-primary;
        color: white;
        padding: 10px 20px;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      p {
        height: 3rem;
        overflow: scroll;
        font-size: 11px;
        span {
          font-size: bold;
        }
      }
    }

    @media screen and (max-width: 940px) {
      .contact-title {
        padding: 2rem;
        h1 {
          font-size: 35px;
          span {
            font-size: 25px;
            margin-top: -1rem;
          }
        }
      }
      .form-contact {
        width: 90%;
        margin: 0 auto;
        .form-control {
          font-size: 0.8rem;
        }
        .form-check-input {
          &[type="checkbox"] {
            width: 3rem;
            height: 1.5rem;
            margin-right: 1rem;
          }
        }
        label {
          font-size: 0.6rem;
        }
        button {
          width: 100%;
          font-size: 0.8rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
    @media screen and (max-width: 768px) {
      height: auto;
      .contact-title {
        padding: 2rem;
        h1 {
          font-size: 25px;
          span {
            font-size: 15px;
            margin-top: -0.5rem;
          }
        }
      }
      .form-contact {
        width: 90%;
        margin: 0 auto;
        .form-control {
          font-size: 0.6rem;
        }
        .form-check-input {
          &[type="checkbox"] {
            width: 2rem;
            height: 1rem;
            margin-right: 1rem;
          }
        }
        label {
          font-size: 0.6rem;
        }
        button {
          width: 100%;
          font-size: 0.6rem;
        }
        p {
          font-size: 0.6rem;
        }
      }
    }

    @media screen and (max-height: 600px) {
      height: 150vh;
    }
  }
}
